@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  font-family: 'Questrial', sans-serif;
  position: relative;
  background-color: #FFF89A;
}
#app {
  width: 100%;
  height: 100vh;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


#time {
  font-size: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: salmon;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);

}

.button {
  background-color: #1d1d8a;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: all .2s;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  color: white;
  scale: 1;
}

@media only screen and (max-width: 600px) {
  .button {
    left: 50%;
    padding: 16px 24px;
    text-align: center;
    transform: translateX(-50%);
    top: auto;
    bottom: 24px;
    right: auto;
    width: calc(100% - 48px);
  }

  #time {
    font-size: 40px;
  }
}

.button:hover {
  cursor: pointer;
  background-color: #29299c;
  scale: 1.1;
}