@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
  font-family: 'Questrial', sans-serif;
  position: relative;
  background-color: #FFF89A;
}
#app {
  width: 99vw;
  height: 98vh;
}

#time {
  font-size: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: salmon;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.button {
  background-color: #1d1d8a;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: all .2s;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  color: white;
  scale: 1;
}

@media only screen and (max-width: 600px) {
  .button {
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 0;
    right: auto;
    width: calc(100% - 48px);

  }
}

.button:hover {
  cursor: pointer;
  background-color: #29299c;
  scale: 1.1;
}